@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.userName {
    margin-top: 10px;
}
.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .mainWrap {
        grid-template-columns: 1fr;
    }

    
    .clientsList {
        gap: 10px;
    }
    .CodeMirror {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .mainWrap {
        display: flex;
        flex-direction: column;
    }

    .clientsList {
        flex-direction: column;
        align-items: flex-start;
    }
}